/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */


#sign_in_page {
	color: #52B3D9;
	text-align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#sign_up_page {
	color: #2C3E50;
	text-align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#profilepage {
    color: #52B3D9;
	text-align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#profheader {
	color: black;
}

body {
	background-color: #ABB7B7;
}